*.0test
*.bak
*.exe
*.jpg
*.o
*.orig
*.pdf
*.png
*.ps
*.sw[nop]
*.tmp
*.tmpfile
.~lock*#
*.pickle

# Note a comment like this can comment a rule out and save it for later

z
.z
.vi
0lint_list
Dev
all_uni.py
a
b
c
aa
bb
cc
a.py
tags
tmp
lib/licenses/
pgm/comb_perm.py
pgm/eevblog.txt
pgm/hdr
pgm/profit.data
pgm/termtables_demo.py
pgm/weather.data
pgm/yr.py
8bit_color
colorhexa.py
data/color_register.htm
data/wp_list_of_colors.txt
