*.0test
*.bak
*.exe
*.jpg
*.o
*.orig
*.pdf
*.png
*.ps
*.sw[nop]
*.tmp
*.tmpfile
.~lock*#
*.pickle

.chunk
policy
.chunk_index.json
.mike.py
b.py
piece_of_metal.py
aa.*
final_clean.txt  
jim              
put              
repl_test1       

.vi
.z
0lint_list
8bit_color
Dev
_argparse.py
a
a.py
a.units_man
aa
au
all_uni.py
b
bb
c
cc
colorhexa.py
data/color_register.htm
data/wp_list_of_colors.txt
lib/licenses/
pgm/comb_perm.py
pgm/eevblog.txt
pgm/hdr
pgm/math.symbols.3.11.8
pgm/profit.data
pgm/termtables_demo.py
pgm/weather.data
pgm/yr.py
tags
tmp
z
