*.exe
*.o
*.swo
*.swp
*.pdf
*.ps
*.bak
*.orig
*.0test

*.jpg
*.png
.local_profile
.p
.vi
.z
__pycache__
a
a.py
aa
b
bb
big.txt
ca.log
circular_imports/
code_.py
color_test/
dev/
dpmath
ds.*.index
filelist
g/demofiles/out
get.test
gg
indent.data
kolor/
log
p
path
pgm/a.odt
pgm/clrs.py
pgm/disks.ksh
pgm/ds.*.index
pgm/fsm/
pgm/heat.py
pgm/weather.data
pnp
rd
rgb/chromaticity/cie_cmf_analytical_code.zip
rgb/chromaticity/rgbcube.py
rgb/gsu_names
rgb/match.py
rgbdata.py
t
table
tags
transposition.py
trigger.tmpfile
x
z
dev_old
hsm.zip
profit.data
cephes.dll

# Temporary
pgm/songs
pgm/spray.py
rpath.zip

