9 Apr 2026 This is an example of the use of the Num class in a "simple" REPL calculation
for a backyard project making stepping stones.  It illustrates features (and features
we'll need to add) to the class to make it a pleasant thing to use for routine
calculations.  I'll flag comments and needed features with the ❓ character.

Features of the "Noether REPL"

    - Uses the Num python class to peform numerical calculations with units
        - Num instances have a .d attribute for documentation that lets you type in
          arbitrary notes with the instance, just like a lab notebook.  You can easily
          edit these notes in the REPL later with your favorite editor as things change.
          A database keeps track of all these changes so you can understand what was
          done later.
    - Units
        - It understands most physical units you're likely to use
        - You can dynamically define new units for your problem at hand
        - The use of "logical" units is an important feature for solving problems, as
          the powerful GNU units tool will flag incorrect use of _any_ defined units,
          whether they are physical or logical
    - Python's syntax lets you use Unicode symbols
    - Input
        - You can type numbers in as you're accustomed to
        - You can add comments and documentation to keep track of your thinking.  This
          makes it easier to review things later and understand what you did.
    - Display precision
        - The default display precision of the Num class is 3 digits, which should serve
          nicely for most practical problems.
        - The calculational precision is set by default to 15 digits, but you can set it
          to any needed precision before starting a problem to ensure the numerical
          noise is well below the decision limits of the problem.
    - Deep ideas
        - A core idea is "the 'product' of the numerical value and the physical unit is
          an invariant under scaling transformations."  As in group theory, the
          representation can vary (e.g. a matrix representation of SO(3)), but the
          underlying structure is a constant.
            - For practical invariance in the code, we use the "representation" in SI
              units 
        - We're using the term "semantic unit" to describe not only the familiar
          physical units like amperes, but the logical units used in all problems.  For
          example, in a business calculation of when a construction project will be
          completed, you'd use "man" as a semantic unit that's important to the problem,
          as you'd estimate the labor needed to construct something in man*hours.  Costs
          could then be calculated using dollars/(man*hour).  These semantic units are
          vital to stating the problem.
            - The Noether REPL uses the GNU units program to perform the unit algebra
              calculations and conversions
            - Interestingly, the Noether REPL runs the GNU units in a separate process
              and uses it to dynamically define new semantic units, which get added to a
              units configuration file.  Then the units process is restarted, meaning
              the Noether REPL has "learned" the new unit.  It's a very natural behavior
              and feels seamless once you've used it.
        - Persistence
            - The mental model for the REPL is that it's like a lab notebook.  You type
              your thoughts and calculations into it and they are persisted to the file
              system.  You can go back later and ask to see the details of the
              calculation; this helps you refresh your memory of what and why.

Problem statement

    Estimate the material cost to make 22 concrete cylindrical stepping stones for a
    back yard project.  The cost will be the number of $3.2 bags of 90 pounds of
    concrete mix needed to be purchased.  Ignore the mass of water used and calculate
    the mass of needed concrete using the density of cured concrete and equate this to
    the mass of the bagged concrete.

Input information

    - I will deliberately use the screwball customary US units to show that the GNU
      units program used with the internal Num machinery isn't fazed by such units
    - The mass density of the cured concrete is 137 lb/ft³
    - The concrete mix comes in 90 lb bags that cost $3.2 each
    - The diameter of a stepping stone is 1-1/3 yards
    - The thickness of a stepping stone is 3-3/16 inches

Here's how this problem might be solved in a python script (once the guts are working
I'll put it in a REPL dialog)

    if 1:   # Define our semantic units first
        arb = UnitArbiter()
        arb.add_primitive("step")
        arb.add_unit("steps step")
    if 1:   # Define the input quantities
        number_of_steps = Num("22 steps")
❓      number_of_steps.add_unit("step steps")   # 'step' and 'steps' are the same
        density_concrete = Num("137 lb/ft³")
        mass_per_bag = Num("90 lbm/bag")
        cost_per_bag = Num("3.2 dollars/bag")
❓      dia_step = Num("1-1/3 yard")
        thick_step = Num("3-3/16 inches")
    if 1:   # Perform the calculation
        step = Num("1 step")    # A unit step
        # Calculate the volume of a cylinder 
        vol = mpmath.pi*Diameter_step**2/4*Thickness_step
        # Calculate the volume per step to help us keep the units consistent
        vol_per_step = vol/step
        # Document what we just did
        vol_per_step.d = "Divided vol by a unit step to get units of volume/step"
        # Get the mass per step
        mass_per_step = vol_per_step*density_concrete
        # Get total mass of steps
        mass_all_steps = mass_per_step*number_of_steps
        # Calculate number of bags needed
❓      number_of_bags = mpmath(ceil(mass_all_steps/mass_per_bag)
        total_cost = cost_per_bag*number_of_bags
    # Print report
    print(wrap.dedent(f'''
        Cost to make {number_of_steps} concrete steps:
            diameter  = {dia_step}
            thickness = {thick_step}
            total concrete mass = {mass_all_steps}
            number of bags = {number_of_bags}
            total cost = ${total_cost}
    '''))

❓ Notes
    - .add_unit("step steps") adds a new unit using the GNU units config file syntax.
      Here, a 'step' is defined in terms of the primitive 'steps', defined in the first
      line.
    - The Num constructor should also handle proper fractions (it now only handles
      improper fractions that contain '/')
    - Is there a way to automagically make the needed type conversion of Num to mpf or
      mpc happen so this works?  If not, then we'll e.g. need a attributes like .mpf or
      .mpc, which force a type conversion so the syntax works.
